<figure class="text-center">
  <blockquote class="blockquote">
    <p>WELCOME TO OUR APPLICATION</p>
  </blockquote>
  <figcaption class="blockquote-footer">
    <cite title="Source Title"></cite>
  </figcaption>
</figure>
<nav class="navbar navbar-light bg-light">
  <form class="container-fluid justify-content-start">
    <button class="btn btn-outline-success me-2" type="button" routerLink="">Home</button>
    <button class="btn btn-outline-success me-2" type="button" routerLink="employee">Display Employee</button>
    <button class="btn btn-outline-success me-2" type="button" routerLink="product">Display Products</button>
    <button class="btn btn-outline-success me-2" type="button" (click)="login()">Log In</button>
    <button class="btn btn-outline-success me-2" type="button" (click)="logout()">Log Out</button>
  </form>
</nav>
<nav></nav>
<app-out></app-out>
<nav></nav>